{% extends "ecommerce/base.html" %}

{% block title %}
    {{product.title}}
{% endblock title %}

{% block content %}
    {% if product.image %}
        <div class="image" mb-4>
            <img src="{{product.image.url}}" height="400" width="600" alt="Foto produto {{product.title}}">
        </div>
    {% endif %}
    <h1 class="text2xl">{{product.title}}</h1>
    <p class="text2xl text-bg-green-600">
        R${{product.get_display_price}} - 
        <a href="{% url "vendor_details" product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
    </p>
    {% if product.description %}
    <br>
    <a href="{% url 'add_to_carrinho' product.id %}" class="inline-block px-8 py-4 bg-green-600 text-white">Adicionar para o Carrinho</a>
    {% endif %}
{% endblock content %}

