{% extends 'ecommerce/base.html' %}

{% block title %}Pagamento{% endblock title %}

{% block content %}
    <div class="flex items-center justify-center h-screen">
        <div>
            <div class="flex flex-col items-center space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-green-600 w-28 h-20" fill="name" viewBox="0 0 24 24" stroke="currentColor" stroke="1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 1212 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 02">
                </svg>
                <h1 class="text-4xl font-bold">Obrigado</h1>
                <p>Obrigado Pela Sua Compra</p>
                <a href="/" class="inline-flex items-center px-4 py-2 text-white bg-indigo-600 rounded rounded-full hover:bg-indigo-700 focus:outline-none focus:ring">Home</a>
            </div>
        </div>    
    </div>
{% endblock content %}

